<!DOCTYPE html>
<html>
  <head>
    <title>Phil Brockwell - Web Developer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag 'avatar.png' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'twoPlusTwo/index' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
